.app-content {
  width: 768px;
  padding: 1.5rem 1.25rem;
}

.app-input, .app-btn {
  padding: 0.4rem 1rem;
}

.app-input {
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
  font-weight: 200 !important;
  color: #555;
}

.app-input:focus {
    outline: none !important;
    border-color: rgb(59, 87, 53);
    box-shadow: 0 0 2px rgb(59, 87, 53);
}

.app-btn {
  display: inline-block;
  border: 1px solid #999;
  margin: 0;
  text-decoration: none;
  background: #999;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
}

.app-btn:hover,
.app-btn:focus {
  background: #777;
  box-shadow: 0 0 2px rgb(119, 119, 119);
}

.app-trans-btn {
  display: inline-block;
  border: 1px solid #999;
  margin: 0;
  text-decoration: none;
  color: #999;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;
}

.app-trans-btn:hover,
.app-trans-btn:focus {
  background: #999;
  color: #fff;
}

.app-trans-btn.active {
  background: #999;
  color: #fff;
}

.app-input.error {
  border: 1px solid red !important;
}